Repository safaci2000/grafana: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-betterer, frontend-eslint, other-format, backend-format, cue-fix-kinds, cue-fix-public

lefthook.yml:

skip_output:
  - meta
  - execution_out
  - skips

pre-commit:
  parallel: true
  commands:
    frontend-betterer:
      glob: '*.{ts,tsx}'
      run: yarn betterer precommit {staged_files}

    frontend-eslint:
      glob: '*.{js,ts,tsx}'
      run: |
        yarn eslint --ext .js,.tsx,.ts --cache --fix {staged_files}
        yarn prettier --write {staged_files}

    other-format:
      glob: '*.{json,scss,md,mdx}'
      run: yarn prettier --write {staged_files}

    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}

    cue-fix-kinds:
      glob: '*kinds/**/*.cue'
      run: make fix-cue

    cue-fix-public:
      glob: '*public/app/plugins/**/**/*.cue'
      run: make fix-cue

Restructure panels
  public/app/features/alerting/unified/Insights.tsx
  public/app/features/alerting/unified/insights/FiringAlertsPercentage.tsx
  public/app/features/alerting/unified/insights/FiringAlertsRate.tsx
  public/app/features/alerting/unified/insights/MostFiredInstancesTable.tsx
  public/app/features/alerting/unified/insights/MostFiredRulesTable.tsx
Due: frontend-betterer, frontend-eslint

WIP: display external id
  pkg/tsdb/cloudwatch/resource_handler.go
  pkg/tsdb/cloudwatch/routes/externalId.go
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.tsx
  public/app/plugins/datasource/cloudwatch/resources/ResourcesAPI.ts
Due: frontend-betterer, frontend-eslint, backend-format

Upgrade package
  package.json
  yarn.lock
Due: other-format

Add missing env variable setting
  pkg/setting/setting.go
Due: backend-format

Fix test
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
Due: frontend-betterer, frontend-eslint

Fix panels layout
  public/app/features/alerting/unified/Insights.tsx
  public/app/features/alerting/unified/insights/FiringAlertsPercentage.tsx
  public/app/features/alerting/unified/insights/MostFiredInstancesTable.tsx
  public/app/features/alerting/unified/insights/MostFiredRulesTable.tsx
Due: frontend-betterer, frontend-eslint

Fixes after CR: - change casing of route and file name - add a test - remove test changes in frontend, will instead install latest version of aws-sdk after release
  pkg/tsdb/cloudwatch/resource_handler.go
  pkg/tsdb/cloudwatch/routes/external_id.go
  pkg/tsdb/cloudwatch/routes/external_id_test.go
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
  public/app/plugins/datasource/cloudwatch/resources/ResourcesAPI.ts
Due: frontend-betterer, frontend-eslint, backend-format

Upgrade @grafana/aws-sdk to 0.1.1
  package.json
  yarn.lock
Due: other-format

Add back test changes
  .betterer.results
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
Due: frontend-betterer, frontend-eslint

Set as true, since that's what the default in in defaults.ini
  public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx
Due: frontend-betterer, frontend-eslint

apply to cmd nodes
  pkg/expr/graph.go
  pkg/services/ngalert/eval/eval.go
Due: backend-format

Org: Adding endpoint to get/update Org Preferences by Org ID
  pkg/api/api.go
  pkg/api/org.go
Due: backend-format
