Repository safaci2000/grafana: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-betterer, frontend-eslint, other-format, backend-format, cue-fix-kinds, cue-fix-public

frontend-betterer:
  run: yarn betterer precommit {staged_files}

frontend-eslint:
  run: 'yarn eslint --ext .js,.tsx,.ts --cache --fix {staged_files}
  
    yarn prettier --write {staged_files}
  
    '

other-format:
  run: yarn prettier --write {staged_files}

backend-format:
  run: gofmt -w -s {staged_files}

cue-fix-kinds:
  run: make fix-cue

cue-fix-public:
  run: make fix-cue

fix yarn checksum
  yarn.lock
Due: none

update codeowners
  .github/CODEOWNERS
Due: none

Ensure lefthook commits files fixed by precommit hooks
  lefthook.yml
Due: none

don't use source because it isn't available in ubuntu/debian's /bin/sh
  lefthook.rc
Due: none

add comment to lefthook.rc explaining what it does
  lefthook.rc
Due: none

Add support for Tempo template variables
  public/app/plugins/datasource/tempo/VariableQueryEditor.test.tsx
  public/app/plugins/datasource/tempo/VariableQueryEditor.tsx
  public/app/plugins/datasource/tempo/datasource.test.ts
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/mocks.ts
  public/app/plugins/datasource/tempo/variables.test.ts
  public/app/plugins/datasource/tempo/variables.ts
Due: frontend-betterer, frontend-eslint

codeowners: reassing mysql/postgres
  .github/CODEOWNERS
Due: none

Improve panels
  public/app/features/alerting/unified/Insights.tsx
Due: frontend-betterer, frontend-eslint

Show navigation cards on top
  public/app/features/alerting/unified/GettingStarted.tsx
  public/app/features/alerting/unified/Home.tsx
  public/app/features/alerting/unified/Insights.tsx
Due: frontend-betterer, frontend-eslint

Add more panels
  public/app/features/alerting/unified/Insights.tsx
Due: frontend-betterer, frontend-eslint

Improve panels layout
  public/app/features/alerting/unified/Insights.tsx
Due: frontend-betterer, frontend-eslint

Rename most fired alerts table title
  public/app/features/alerting/unified/Insights.tsx
Due: frontend-betterer, frontend-eslint

Change datasource UID
  public/app/features/alerting/unified/Insights.tsx
Due: frontend-betterer, frontend-eslint

Elasticsearch: migrate data source http settings
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
  public/app/plugins/datasource/elasticsearch/types.ts
Due: frontend-betterer, frontend-eslint

Elasticsearch: migrate data source http settings
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
Due: frontend-betterer, frontend-eslint

Remove test code
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.tsx
Due: frontend-betterer, frontend-eslint

Update unit test
  public/app/plugins/datasource/elasticsearch/configuration/ConfigEditor.test.tsx
Due: frontend-betterer, frontend-eslint

Add missing tooltips
  public/app/plugins/datasource/elasticsearch/configuration/ElasticDetails.tsx
  public/app/plugins/datasource/elasticsearch/configuration/LogsConfig.tsx
Due: frontend-betterer, frontend-eslint

Support template variables in Search for Tempo
  public/app/plugins/datasource/tempo/datasource.ts
Due: frontend-betterer, frontend-eslint

move grafana-apiserver and pkg/server to modules
  .gitignore
  Makefile
  pkg/modules/all/runner.go
  pkg/modules/all/server_test.go
  pkg/modules/all/service.go
  pkg/modules/all/test_env.go
  pkg/modules/all/wire.go
  pkg/modules/all/wireexts_oss.go
  pkg/modules/dependencies.go
  pkg/modules/grafana-apiserver/log.go
  pkg/modules/grafana-apiserver/service.go
  pkg/modules/modules.go
  pkg/services/grafana-apiserver/wire.go
Due: backend-format

seems to be working
  pkg/cmd/grafana-cli/commands/commands.go
  pkg/cmd/grafana-cli/commands/reset_password_command.go
  pkg/cmd/grafana-cli/commands/secretsmigrations/secretsmigrations.go
  pkg/cmd/grafana-server/commands/cli.go
  pkg/modules/listener.go
  pkg/modules/modules.go
  pkg/modules/wire.go
  pkg/setting/setting.go
Due: backend-format

update tests
  pkg/cmd/grafana-server/commands/cli.go
  pkg/modules/all/runner.go
  pkg/modules/all/server_test.go
  pkg/modules/all/service.go
  pkg/modules/all/test_env.go
  pkg/modules/all/wire.go
  pkg/modules/all/wireexts_oss.go
  pkg/services/certgenerator/service.go
  pkg/services/certgenerator/wire.go
  pkg/services/store/entity/tests/common.go
  pkg/tests/api/correlations/common_test.go
  pkg/tests/api/plugins/backendplugin/backendplugin_test.go
  pkg/tests/testinfra/testinfra.go
Due: backend-format

update import names
  pkg/cmd/grafana-cli/commands/reset_password_command.go
  pkg/cmd/grafana-cli/commands/secretsmigrations/secretsmigrations.go
Due: backend-format

fix gitignore path
  .gitignore
Due: none

grafana server target command kind of working
  pkg/cmd/grafana-server/commands/target.go
  pkg/server/base_runner.go
  pkg/server/base_server.go
  pkg/server/wire.go
Due: backend-format

rename BaseThings to ModuleThings
  pkg/cmd/grafana-server/commands/target.go
  pkg/server/module_server.go
  pkg/server/wire.go
Due: backend-format

maybe try using the new methods you wrote, kristin
  pkg/cmd/grafana-server/commands/target.go
Due: backend-format

more renaming, adding comments
  pkg/server/base_runner.go
  pkg/server/module_server.go
  pkg/server/wire.go
Due: backend-format

chore: update alerting swagger spec
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
Due: other-format

Add transformation to display link to view alert rule
  public/app/features/alerting/unified/Insights.tsx
Due: frontend-betterer, frontend-eslint

Path conditions:
  frontend-betterer: any of: *.{ts,tsx}
  frontend-eslint: any of: *.{js,ts,tsx}
  other-format: any of: *.{json,scss,md,mdx}
  backend-format: any of: *pkg/**/*.go
  cue-fix-kinds: any of: *kinds/**/*.cue
  cue-fix-public: any of: *public/app/plugins/**/**/*.cue
